
body {
    background-color: black;
}
form, .outputField {
    background-color: white;
    border: 2px solid black;
    border-radius: 9px;
    width: 300px;
}
form, label, input, .outputField {
    margin: 10px auto;
    padding: 5px;
}
input[type="submit"] {    
    background-color: black;
    color: cornsilk;
    font-weight: bolder;
}